body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 200%;
}
#splash {
  text-align: center;
  background-color: #000;
  background-color: rgba(0,0,0,.9);
  color: #fff;

  ol.mode {
    list-style-type: none;
    padding: 0;
    margin: 1em;
    font-weight: bold;

    li {
      box-sizing: border-box;
      float: left;
      width: 50%;
      padding: .5em;
      border: 3px solid #fff;
      border-right-width: 0;
      cursor: pointer;

      &:first-child {
        border-radius: 1em 0 0 1em;
      }

      &:last-child {
        border-right-width: 3px;
        border-radius: 0 1em 1em 0;
      }
    }
  }
}