.borderbox() {
  -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
     -moz-box-sizing: border-box; /* FF1+ */
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 140%;
}
#splash {
  text-align: center;
  background: #000;
  background: rgba(0,0,0,.9);
  color: #fff;

  ol.mode {
    list-style-type: none;
    padding: 0;
    margin: 1em;
    font-weight: bold;

    li {
      float: left;
      width: 50%;
      padding: 0 .5em;

      .borderbox();

      &:first-child {
        border-radius: 1em 0 0 1em;
      }

      &:last-child {
        border-right-width: 3px;
        border-radius: 0 1em 1em 0;
      }
    }
  }
}
@media (max-width: 700px) {
  #splash ol.mode li {
    width: 100%;
    float: none;
  }
}

.bounty {
  img {
    max-height: 140px;
  }

  label {
    width: auto;
    font-weight: bold;
  }

  input[type=number] {
    width: 80%;
    border: none !important;
    box-shadow: none;
    background: inherit;
    font-size: 200%;
    font-style: italic;
    padding: 0;
    margin-bottom: .5em;
    text-align: center;
  }

  div.ui-slider {
    display: block;
    width: 80%;
  }

  .score {
    display: none;
  }
  .quantity {
    text-align: right;
    width: 34%;

    .value {
      font-size: 160%;
    }
  }
  .type {
    width: 64%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .type,
  .quantity {
    vertical-align: top;
    font-size: 90%;
    display: inline-block;
  }
  .inputhint {
    padding-top: 1em;
  }

  &.right {
    background: green;
  }
  &.wrong {
    background: red;
  }
  &.right,
  &.wrong {
    text-shadow: none !important;
  }
  &.right .score,
  &.wrong .score {
    display: block;
  }
}